
/*body{
  background:#fdfbec;
}*/

.container{
    position:relative;
    width:96%;
}
.canvas{
  width:100%;
  min-height:600px;
}

.key{
  position:absolute;
  width:200px;
  height:500px;
  /*float:right;*/
  right:0px;
  top:200px;
}

.key-instance .key-attr{
  font-size:16px;
}

.info, #desc{
  font-size:18px;
}

.groups{
  display: inline-block; /* doesn't look like it affects display*/
  margin:10px;
}

.custom-tooltip{
  position:absolute;
  /*background:#fdfbec;*/
  background:white;
  text-align:center;
  padding:2px;
  height:20px;
  border-radius:4px;
}
