
/*body{
  background:#fdfbec;
}*/

.container{
    position:relative;
    width:96%;
}
.canvas{
  width:100%;
  min-height:600px;
  margin-top:20px;
  margin-bottom:20px;
}

#plot-size{
  position:absolute;
  right:0px;
}

.key{
  position:absolute;
  width:200px;
  height:500px;
  top:150px;
  cursor:default;
}

.key-group, .key-instance, .key-attr{
  font-size:14px;
  display:block;
  position: relative;
  left: 10px;
}

#title-instance{
  padding-top:10px;
}

#title-attr{
  padding-top:10px;
}

#title-group, #title-instance, #title-attr{
  font-size:18px;
  font-weight:bold;
  display:block;
}

#supplement{
  /*float:right;*/
  position:absolute;
  top:150px;
  right:100px;
  text-align:right;
  font-size:18px;
  font-weight:bold;
  opacity:0.7;
  color:#636466;
}

.info, #desc{
  font-size:18px;
}

.groups{
  display: inline-block; /* doesn't look like it affects display*/
  margin:10px;
}

.custom-tooltip{
  position:absolute;
  /*background:#fdfbec;*/
  background:white;
  text-align:center;
  padding:2px;
  height:20px;
  border-radius:4px;
}
